In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hithadhoo,MV,2022-10-10 17:00:22,-0.6000,73.0833,81.16,77,97,17.56
1,1,Henties Bay,NaN,2022-10-10 17:00:23,-22.1160,14.2845,60.80,92,60,4.68
2,2,Kem,RU,2022-10-10 17:00:25,64.9555,34.5793,46.96,80,100,12.10
3,3,Norman Wells,CA,2022-10-10 17:00:26,65.2820,-126.8329,33.22,92,100,31.32
4,4,Victoria,HK,2022-10-10 16:57:03,22.2855,114.1577,76.32,44,33,11.99

In [9]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [21]:
# Configure gmaps to use your Google API Key
gmaps.configure(api_key = g_key)

In [22]:
# Heatmap of Temperature
# Get the longitude and latitude.
locations = city_data_df[['Lat', 'Lng']]
# Get the maximum temperature
max_temp = city_data_df['Max Temp']
# Assign the figure variable
fig = gmaps.figure()
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure
fig

Figure(layout=FigureLayout(height='420px'))