In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hithadhoo,MV,2022-10-10 17:00:22,-0.6000,73.0833,81.16,77,97,17.56
1,1,Henties Bay,NaN,2022-10-10 17:00:23,-22.1160,14.2845,60.80,92,60,4.68
2,2,Kem,RU,2022-10-10 17:00:25,64.9555,34.5793,46.96,80,100,12.10
3,3,Norman Wells,CA,2022-10-10 17:00:26,65.2820,-126.8329,33.22,92,100,31.32
4,4,Victoria,HK,2022-10-10 16:57:03,22.2855,114.1577,76.32,44,33,11.99

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API Key
gmaps.configure(api_key = g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of Temperature
# Get the longitude and latitude.
locations = city_data_df[['Lat', 'Lng']]
# Get the maximum temperature
max_temp = city_data_df['Max Temp']
# Assign the figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius = 4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure
#fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
# Get the longitude and latitude.
locations = city_data_df[['Lat', 'Lng']]
# Get the maximum temperature
humidity = city_data_df['Humidity']
# Assign the figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius = 4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure
#fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
# Get the longitude and latitude.
locations = city_data_df[['Lat', 'Lng']]
# Get the maximum temperature
cloudiness = city_data_df['Cloudiness']
# Assign the figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = cloudiness, dissipating = False, max_intensity = 300, point_radius = 4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure
#fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent wind speed
# Get the longitude and latitude.
locations = city_data_df[['Lat', 'Lng']]
# Get the maximum temperature
wind = city_data_df['Wind Speed']
# Assign the figure variable
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating = False, max_intensity = 300, point_radius = 4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure
#fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value. 
min_temp = float(input("What is the minimum temperature you would like for the trip?"))
max_temp = float(input("What is the maximum temperature you would like for the trip?"))

What is the minimum temperature you would like for the trip?75
What is the maximum temperature you would like for the trip?90

In [17]:
# Filter the dataset with preferred temperature criteria. 
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                      (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hithadhoo,MV,2022-10-10 17:00:22,-0.6000,73.0833,81.16,77,97,17.56
4,4,Victoria,HK,2022-10-10 16:57:03,22.2855,114.1577,76.32,44,33,11.99
8,8,Riyadh,SA,2022-10-10 17:00:29,24.6877,46.7219,87.75,11,0,6.33
9,9,Kota Kinabalu,MY,2022-10-10 17:00:30,5.9749,116.0724,76.98,88,20,5.01
16,16,Mogadishu,SO,2022-10-10 17:00:12,2.0371,45.3438,77.49,83,7,17.81
18,18,Ilheus,BR,2022-10-10 17:00:34,-14.7889,-39.0494,83.39,57,14,9.15
21,21,Georgetown,MY,2022-10-10 16:58:36,5.4112,100.3354,82.24,86,20,0.00
23,23,Sorong,ID,2022-10-10 17:00:38,-0.8833,131.2500,79.14,84,100,4.41
24,24,Lusambo,CD,2022-10-10 17:00:39,-4.9667,23.4500,80.10,51,94,0.63
31,31,Eenhana,NaN,2022-10-10 16:59:50,-17.4667,16.3333,84.33,9,5,4.47

In [20]:
preferred_cities_df.notnull().sum()

City_ID       166
City          166
Country       161
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [24]:
preferred_cities_nn_df = preferred_cities_df.dropna()
preferred_cities_nn_df.count()

City_ID       161
City          161
Country       161
Date          161
Lat           161
Lng           161
Max Temp      161
Humidity      161
Cloudiness    161
Wind Speed    161
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max_temp and coordinates.
hotel_df = preferred_cities_nn_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0       Hithadhoo      MV     81.16  -0.6000   73.0833
4        Victoria      HK     76.32  22.2855  114.1577
8          Riyadh      SA     87.75  24.6877   46.7219
9   Kota Kinabalu      MY     76.98   5.9749  116.0724
16      Mogadishu      SO     77.49   2.0371   45.3438
18         Ilheus      BR     83.39 -14.7889  -39.0494
21     Georgetown      MY     82.24   5.4112  100.3354
23         Sorong      ID     79.14  -0.8833  131.2500
24        Lusambo      CD     80.10  -4.9667   23.4500
32    Kattivakkam      IN     86.09  13.2167   80.3167

In [30]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the lat and lng.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the lat and lng to location key for the params dictionary.
    params['location'] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params = params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ..... skipping.")
    hotel_df.head(10)

Hotel not found ..... skipping.
Hotel not found ..... skipping.
Hotel not found ..... skipping.
Hotel not found ..... skipping.
Hotel not found ..... skipping.
Hotel not found ..... skipping.
Hotel not found ..... skipping.
Hotel not found ..... skipping.
Hotel not found ..... skipping.
Hotel not found ..... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hithadhoo,MV,81.16,-0.6000,73.0833,Scoop Guest House
4,Victoria,HK,76.32,22.2855,114.1577,Mini Central
8,Riyadh,SA,87.75,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
9,Kota Kinabalu,MY,76.98,5.9749,116.0724,Gaya Centre Hotel
16,Mogadishu,SO,77.49,2.0371,45.3438,Hotel Juba
18,Ilheus,BR,83.39,-14.7889,-39.0494,Barravento Hotel
21,Georgetown,MY,82.24,5.4112,100.3354,Cititel Penang
23,Sorong,ID,79.14,-0.8833,131.2500,Waigo Splash Hotel
24,Lusambo,CD,80.10,-4.9667,23.4500,
32,Kattivakkam,IN,86.09,13.2167,80.3167,Euronova Freezer

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]


# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))