# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
file_path = "../Vacation_Search/WeatherPy_vacation.csv"
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

# Display sample data
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Faanui,PF,79.36,scattered clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
1,3,Victoria,HK,80.65,scattered clouds,22.2855,114.1577,Mini Central
2,6,Emerald,AU,87.35,scattered clouds,-23.5333,148.1667,The Irish Village
3,8,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
4,18,Alyangula,AU,87.21,few clouds,-13.8483,136.4192,Groote Eylandt Lodge
5,26,Hithadhoo,MV,81.21,overcast clouds,-0.6000,73.0833,Scoop Guest House
6,31,Bilma,NE,76.14,broken clouds,18.6853,12.9164,Expeditions Ténére voyages
7,36,Kapaa,US,81.10,moderate rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,38,Norsup,VU,78.08,heavy intensity rain,-16.0667,167.3833,Nabelchel Bungalows
9,40,Lincoln,US,80.51,overcast clouds,40.8000,-96.6670,Courtyard by Marriott Lincoln Downtown/Haymarket

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [4]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [7]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Banjar']# YOUR CODE HERE
vacation_end = vacation_df.loc[vacation_df['City'] == 'Banjar']# YOUR CODE HERE
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Pamanukan']# YOUR CODE HERE
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Bengkulu']# YOUR CODE HERE
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Palembang']# YOUR CODE HERE

print(vacation_start)
print(vacation_end)
print(vacation_stop1)
print(vacation_stop2)
print(vacation_stop3)

    City_ID    City Country  Max Temp      Description   Lat       Lng  \
95      391  Banjar      ID     85.78  overcast clouds -8.19  114.9675

          Hotel Name
95  The Hamsa Resort
    City_ID    City Country  Max Temp      Description   Lat       Lng  \
95      391  Banjar      ID     85.78  overcast clouds -8.19  114.9675

          Hotel Name
95  The Hamsa Resort
     City_ID       City Country  Max Temp      Description     Lat       Lng  \
102      421  Pamanukan      ID     83.82  overcast clouds -6.2842  107.8106

                    Hotel Name
102  Paris Day Hotel Pamanukan
    City_ID      City Country  Max Temp           Description     Lat  \
49      209  Bengkulu      ID     78.44  heavy intensity rain -3.8004

         Lng            Hotel Name
49  102.2655  Grage Hotel Bengkulu
     City_ID       City Country  Max Temp       Description     Lat       Lng  \
104      434  Palembang      ID     82.49  scattered clouds -2.9167  104.7458

                                    Hotel Name
104  ASTON Palembang Hotel & Conference Center

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [8]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]# YOUR CODE HERE
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]# YOUR CODE HERE
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]# YOUR CODE HERE
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]# YOUR CODE HERE
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]# YOUR CODE HERE
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(-8.19, 114.9675)
(-8.19, 114.9675)
(-6.2842, 107.8106)
(-3.8004, 102.2655)
(-2.9167, 104.7458)

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [9]:
# Define a new figure object
fig = gmaps.figure()# YOUR CODE HERE

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode = 'DRIVING')# YOUR CODE HERE

# Add the layer to the map
fig.add_layer(vacation_itinerary)# YOUR CODE HERE

# Display the map
fig# YOUR CODE HERE

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [10]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,391,Banjar,ID,85.78,overcast clouds,-8.1900,114.9675,The Hamsa Resort
1,421,Pamanukan,ID,83.82,overcast clouds,-6.2842,107.8106,Paris Day Hotel Pamanukan
2,209,Bengkulu,ID,78.44,heavy intensity rain,-3.8004,102.2655,Grage Hotel Bengkulu
3,434,Palembang,ID,82.49,scattered clouds,-2.9167,104.7458,ASTON Palembang Hotel & Conference Center

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [11]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]# YOUR CODE HERE

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]# YOUR CODE HERE

In [12]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)# YOUR CODE HERE

# Define a new figure object
fig = gmaps.figure()
# YOUR CODE HERE

# Add the layer to the map
fig.add_layer(marker_layer)
# YOUR CODE HERE

# Display the map
fig
# YOUR CODE HERE

Figure(layout=FigureLayout(height='420px'))